<header>
    <nav>
        <a id="beacon" href="/">
            <div id="home-text"> HOME </div>
        </a>
    </nav>

    <div class="right-sidebar">
        {{#githubUser}}
        <a class="ext-link" href="https://github.com/{{githubUser}}">
            <img src="/images/github-logo.svg" alt="GitHub Profile"/>
        </a>
        {{/githubUser}}

        {{#mastodonHandle}}
        <a class="ext-link" href="https://discuss.systems/{{mastodonHandle}}">
            <img src="/images/mastodon-logo.svg" alt="Mastodon profile"/>
        </a>
        {{/mastodonHandle}}
    </div>
</header>
