body {
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .62em;
    line-height: 1.6;
    font-size: 16px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #181a1b;
    color: rgb(189, 183, 175);
}


h1,h2,h3 {
    line-height: 1.2;
}
