/* RESET THE SHITTY BROWSER DEFAULTS */
/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}


ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* STOP RESETTING THE SHITTY BROWSER DEFAULTS ps. thanks kelle */

body {
  display: flex;
  flex-flow: nowrap column;
  margin: auto;
  line-height: 1.6;
  font-size: 18px;
  background-color: #181a1b;
  color: rgb(189, 183, 175);
  min-height: 100vh;
}


h1,
h2,
h3 {
  line-height: 1.2;
}

.ext-link img {
  width: 32px;
  height: 32px;
  display: inline;
}

header {
  padding: 20px;
  background-color: #030F1A;
}

footer {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #070809;
  padding: 20px;
  margin-top: auto;
}

#page {
  max-width: 40em;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #3391ff;
  text-decoration: none;
}

.title {
  font-weight: 400;
  font-size: 3em;
  text-transform: capitalize;
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#menu li {
  margin: 1em;
}